#box {
    height: 1000px;
    width: 100%;
    margin: 0px;
    padding-top: 0px;
    float: left;
    background-color: whitesmoke;
}

#box1 {
    height: 600px;
    width: 600px;
    background-color: blue;
    float: left;
    margin-top: 80px;
    border: solid;
    border-color: white;
    color: white;
}

#box2 {
    height: 600px;
    width: 600px;
    background-color: white;
    float: left;
    margin-top: 80px;
    border: solid;
    border-color: white;
    color: black;
}

#box3 {
    height: 800px;
    width: 300px;
    float: left;
    margin-top: 80px;
    margin-left: 50px;
    border: solid;
    border-color: white;
    color: white;
}

#box4 {
    height: 50px;
    width: 100%;
    background-color: white;
    border: solid;
    border-color: white;
    color: black;
}

#box5 {
    height: 500px;
    width: 100%;
    background-color: blue;
    border: solid;
    border-color: white;
    color: white;
}

#box6 {
    height: 250px;
    width: 100%;
    background-color: white;
    border: solid;
    border-color: white;
    color: black;
}

#inbox {
    height: 250px;
    width: 400px;
    margin-top: 80px;
    margin-left: 50px;
}

#edit {
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inbox2 {
    height: 400;
    width: 450;
    margin-top: 30px;
    background-color: white;
    float: left;
}

#inbox3 {
    width: 250;
    height: 250;
    margin-top: 30px;
    margin-left: 20px;
}

#edit2 {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inbox7 {
    height: 500px;
    width: 50px;
    margin-top: 80px;
    margin-left: 50px;
    float: left;
}

#inbox5 {
    height: 400;
    width: 50;
    margin-top: 30px;
    float: left;
    margin-left: 30px;
}

#icon1 {
    width: 50px;
    height: 100px;
    margin-top: 30px;
    padding-left: 10px;
}

#icon2 {
    width: 50px;
    height: 100px;
    padding-left: 10px;
}

#icon3 {
    width: 50px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
}

#icon4 {
    width: 50px;
    height: 100px;
    margin-top: 30px;
    padding-left: 10px;
}

#icon5 {
    width: 50px;
    height: 100px;
    margin-top: 30px;
    padding-left: 10px;
}

#icon6 {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding-left: 10px;
}

#icon7 {
    width: 50px;
    height: 100px;
    padding-left: 10px;
    margin-top: 15px;
}

#icon8 {
    width: 50px;
    height: 70px;
    margin-top: 30px;
    padding-left: 10px;
}

#icon9 {
    width: 50px;
    height: 70px;
    padding-left: 10px;
}

#icon10 {
    width: 50px;
    height: 100px;
    padding-left: 570px;
    margin-top: 15px;
}

#inbox4 {
    height: 250px;
    width: 50;
    float: left;
}

#inbox6 {
    height: 250px;
    width: 250;
    float: left;
}

#inbox8 {
    height: 30px;
    width: 30px;
    float: left;
}

#inbox9 {
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 230px;
}

#inbox10 {
    height: 250px;
    width: 50px;
    float: left;
    margin-left: 50px;
}

#inbox11 {
    height: 220px;
    width: 400px;
    float: left;
    margin-top: 10px;
}

#inbox12 {
    width: 250;
    height: 200;
    margin-left: 20px;
}

#inbox13 {
    height: 200px;
    width: 50px;
    float: left;
}

#inbox14 {
    height: 200px;
    width: 250px;
}